.header {

  &__top {
    margin-bottom: 202px;
    padding-top: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 52px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__pages {
    margin-right: 48px;

    @media (max-width: $screen-md-max) {
      display: none;
    }

    a {
      position: relative;
      font-size: 24px;
      line-height: (28/24);
      text-align: center;
      color: #FFFFFF;

      &.active {
        padding-bottom: 12px;

        &:after {
          position: absolute;
          content: "";
          width: 50px;
          height: 4px;
          background-color: #F5BD41;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &:first-child {
        margin-right: 24px;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;

    .icon-menu {
      display: none;

      @media (max-width: $screen-md-max) {
        display: block;
      }
    }

    a {

      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
}