.header-input {
  margin-bottom: 120px;

  form {
    background-color: $brand-white;
    border-radius: 8px;

    @media (max-width: $screen-md-max) {
      padding: 8px;
      background-color: $brand-3;
    }
  }

  &__row {
    display: flex;
  }

  &__block {
    position: relative;

    @media (max-width: $screen-md-max) {
      margin-bottom: 16px;
    }

    &--dest {

      @media (min-width: $screen-lg-min) {
        max-width: 467px;
      }
    }

    &--date {

      @media (min-width: $screen-lg-min) {
        max-width: 259px;
        border: 3px solid $brand-3;
        border-radius: 8px;

        .altar & {
          padding: 21px 22px 17px;
        }
      }
    }

    &--info {

      @media (min-width: $screen-lg-min) {
        max-width: 322px;
      }
    }

    &--btn {
      margin-bottom: 0;

      .header-input__submit {
        background-color: $brand-2;
        font-weight: 500;
        font-size: 24px;
        line-height: (28/24);
        text-align: center;
        color: $brand-white;
        cursor: pointer;
        border-radius: 8px;
        z-index: 10;

        @media (min-width: $screen-lg-min) {
          width: 192px;
        }
      }
    }

    input {
      border-radius: 8px;
      max-width: 100%;
      font-size: 18px;
      line-height: (21/18);
      color: $text-color;
      padding: 23px 30px 21px;
      width: 100%;
    }

    label {
      position: absolute;
      top: -44px;
      left: 25px;
      font-size: 18px;
      line-height: (21/18);
      color: $brand-white;
    }
  }
}