.header-input {
  margin-bottom: 120px;

  &__mobile {
    display: none;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  form {
    background-color: $brand-white;
    border-radius: 8px;
  }

  &__block {
    width: 100%;
    position: relative;

    &--dest {
      max-width: 467px;

      input {
        border-radius: 8px 0 0 8px;
      }

      @media (max-width: $screen-lg-max) {
        max-width: 50%;
      }
    }

    &--date {
      background-color: $brand-white;
      max-width: 259px;
      border: 3px solid $brand-3;
      border-radius: 8px;

      input {
        max-width: 100%;
        border-radius: 8px;

        .altar & {
          padding: 21px 22px 17px;
        }
      }

      @media (max-width: $screen-lg-max) {
        max-width: 50%;
      }
    }

    &--info {
      max-width: 314px;

      @media (max-width: $screen-lg-max) {
        max-width: 100%;
      }
    }

    &--btn {
      flex-grow: 1;
      width: 192px;

      .header-input__submit {
        padding-top: 19px;
        padding-bottom: 18px;
        background-color: $brand-2;
        font-weight: 500;
        font-size: 24px;
        line-height: (28/24);
        text-align: center;
        color: $brand-white;
        cursor: pointer;
        border-radius: 8px;
        z-index: 10;
      }
    }

    input {
      max-width: 100%;
      font-size: 18px;
      line-height: (21/18);
      color: $text-color;
      padding: 23px 30px 21px;
      width: 100%;
    }

    label {
      position: absolute;
      top: -44px;
      left: 25px;
      font-size: 18px;
      line-height: (21/18);
      color: $brand-white;
    }
  }

  @media (max-width: $screen-md-max) {
    display: none;

    &__mobile {
      display: block;
    }
  }
}