.footer {
  padding: 120px 104px;
  background-color: #10367C;

  @media (max-width: $screen-sm-max) {
    padding: 40px 0;
  }

  &__row {

    @media (max-width: $screen-sm-max) {
      justify-content: space-between;
    }
  }

  &__col {
    list-style: none;
    margin: 0 0 4rem;
  }

  &__logo {
    display: none;

    @media (max-width: $screen-sm-max) {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
    }
  }

  &__link {

    &:first-child {
      font-weight: 500;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    a {
      color: $brand-white;
    }

    @media (max-width: $screen-sm-max) {

      &:not(:first-child) {
        display: none;
      }

      &:first-child {
        text-align: center;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__copy {
    color: $brand-white;
    font-size: 13px;

    @media (max-width: $screen-sm-max) {
      text-align: center;
    }
  }
}