.hotels {
  padding: 123px 0;
  background: $background-color-1;

  &__title {
    text-align: center;
    margin-bottom: 105px;
  }

  &__cards {
    position: relative;

    &--arrow {
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: -8px;
      transform: translateY(-80px);

      .black {
        display: none;
      }

      &:hover {

        .white {
          display: none;
        }

        .black {
          display: block;
        }
      }

      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
  }

  .hotel-card {

    &__img {
      margin-bottom: 1.5rem;

      img {
        max-width: 100%;
        width: 100%;
      }
    }

    &__name {
      color: $text-color-2;
      text-decoration: none;
      font-size: 24px;
      line-height: (28/24);
      margin-bottom: 24px;
    }

    &__loc {
      color: $text-color-3;
      font-size: 24px;
      line-height: (28/24);
    }


    @media (max-width: $screen-md-max) {

      &:nth-child(3),
      &:nth-child(4){
        display: none;
      }
    }

    @media (max-width: $screen-md-max) {
      margin-bottom: 32px;

      &:nth-child(3),
      &:nth-child(4){
        display: block;
      }

      &:nth-child(4) {
        margin-bottom: 0;
      }
    }
  }
}