.offers {
  padding: 118px 0;

  @media (max-width: $screen-sm-max) {
    padding: 24px 0 40px;
  }

  &__title {
    text-align: center;
    margin-bottom: 103px;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      top: 68px;
      left: 50%;
      width: 100px;
      height: 4px;
      background-color: #F5BD41;
      transform: translateX(-50%);
    }

    @media (max-width: $screen-sm-max) {
      font-size: 28px;
      margin-bottom: 32px;

      &:after{
        display: none;
      }
    }
  }

  &__cards {
    display: flex;
    justify-content: center;

    @media (max-width: $screen-lg-max) {
      flex-wrap: wrap;
    }
  }

  &-card {
    width: 296px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &__img {
      display: flex;
      margin: 0 auto 50px;
      width: 100px;
      height: 100px;

      img {
        margin: 0 auto;
      }
    }

    &__text {
      text-align: center;
      font-size: 24px;
      line-height: (28/24);
    }

    @media (max-width: $screen-lg-max) {
      width: 50%;

      .altar & {
        margin-right: 0;
      }

      &:nth-child(-n+2) {
        margin-bottom: 32px;
      }

      &__img {
        margin-bottom: 16px;
        width: 70px;
        height: 70px;
      }
    }

    @media (max-width: $screen-sm-max) {
      width: 100%;

      &:not(:last-child){
        margin-bottom: 32px;
      }

      &__img {
        justify-content: center;
      }
    }
  }
}