include ../components/page
include ../sections/offers
include ../sections/hotels
include ../sections/footer
include ../sections/header
//include ../../contents/contents

-
  var headerData = {
    headerTop: {
      pageLink: '#',
      img: 'logo.svg',
      text: 'TripHouse logo',
      links: [
        {
          linkClass: 'active',
          pageLink: "#",
          page: 'Stays'
        },
        {
          pageLink: "#",
          page: 'Attractions'
        }
      ],
      icons: [
        {
          img: 'night.svg',
          text: 'Night page button',
          pageLink: "#"
        },
        {
          img: 'account.svg',
          text: 'Log in button',
          pageLink: "#"
        }
      ]
    },
    headerInput: {
      submitText: 'Search',
      inputs: [
        {
          blockClass: 'dest',
          labelFor: 'destination',
          labelText: 'Your destination or hotel name',
          inputType: 'text',
          inputId: 'destination',
          inputName: 'destination',
          inputValue: 'New York',
        },
        {
          blockClass: 'date',
          labelFor: 'check-date',
          labelText: 'Check-in — Check-out',
          inputType: 'text',
          inputId: 'check-date',
          inputName: 'check-date',
          inputValue: 'Tue 15 Sept — Sat 19 Sept',
        },
        {
          blockClass: 'info',
          inputType: 'text',
          inputId: 'check-info',
          inputName: 'check-info',
          inputValue: '2 Adults — 0 Children — 1 Room',
        }
      ]
    },
    appDown: {
        apps : [
          {
            appLink: '#',
            img: 'google-app.svg',
            text: 'google-app.svg'
          },
          {
            appLink: '#',
            img: 'appstore-app.svg',
            text: 'appstore-app.svg'
          }
        ]
    },
    headerTitle: {
      title: 'Discover stays<br>to live, work or just relax',
      class: ''
          // {
          //   title: '',
          //   class: '--2'
          // }
    },
  };
  var pageData = {
    keywords: ['trip', 'house'],
    description: 'Page for hotels',
    title: 'TripHouse'
  };
  var hotelsData = {
    white: 'hotel-arrow.svg',
    black: 'hotel-arrow--hover.svg',
    title: {
      text: 'Homes guests loves',
      titleClass: 'hotels__title'
    },
    cards: [
      {
        img: 'hotel-01.jpg',
        name: 'Hotel Leopold',
        loc: 'Saint Petersburg, Russia'
      },
      {
        img: 'hotel-02.jpg',
        name: 'Apartment Sunshine',
        loc: 'Santa  Cruz de Tenerife, Spain'
      },
      {
        img: 'hotel-03.jpg',
        name: 'Villa Kunerad',
        loc: 'Vysokie Tatry, Slowakia'
      },
      {
        img: 'hotel-04.jpg',
        name: 'Hostel Friendship',
        loc: 'Berlin, Germany'
      }
    ]
  };
  var offersData = {
    title: {
      text: 'What do we offer',
      titleClass: 'offers__title'
    },
    offers: [
      {
        img: 'offers-1.svg',
        text: 'Support 24/7'
      },
      {
        img: 'offers-2.svg',
        text: 'Communicate directly'
      },
      {
        img: 'offers-3.svg',
        text: 'Book online'
      },
      {
        img: 'offers-4.svg',
        text: 'Real guest reviews'
      }
    ]
  };
  var footerData = {
    img: 'logo_footer.svg',
    text: 'logo_footer',
    copyright: '2020 TripHouse, Inc. All rights reserved',
    sections: [
      {
        col: 'col-sm-3',
        links: [
          {
            pageLink: '#',
            page: 'About'
          },
          {
            pageLink: '#',
            page: 'How Triphouse works'
          },
          {
            pageLink: '#',
            page: 'Careers'
          },
          {
            pageLink: '#',
            page: 'Privacy'
          },
          {
            pageLink: '#',
            page: 'Terms'
          }
        ]
      },
      {
        col: 'col-sm-6',
        links: [
          {
            pageLink: '#',
            page: 'Property types'
          },
          {
            pageLink: '#',
            page: 'Guest houses'
          },
          {
            pageLink: '#',
            page: 'Hotels'
          },
          {
            pageLink: '#',
            page: 'Apartments'
          },
          {
            pageLink: '#',
            page: 'Villas'
          },
          {
            pageLink: '#',
            page: 'Holiday homes'
          },
          {
            pageLink: '#',
            page: 'Hostels'
          }
        ]
      },
      {
        col: 'col-sm-3',
        links: [
          {
            pageLink: '#',
            page: 'Support'
          },
          {
            pageLink: '#',
            page: 'Contact Customer Service'
          },
          {
            pageLink: '#',
            page: 'FAQ'
          }
        ]
      }
    ]
  };

.altar
  // в пейдждата добавить класс по имени страницы для приоритета стилей (Андрей добавляет для body), altar удалить
  // над хедером вставить миксин для спрайта
  +page(pageData)
    +header(headerData)
    +offers(offersData)
    +hotels(hotelsData)
    +footer(footerData)