$background-color-1:            #EAF0F9;
$brand-white:                   #ffffff;
$brand-black:                   #000000;
$brand-1:                       #10367C;
$brand-2:                       #3077C6;
$brand-3:                       #F5BD41;
$text-color:                    #383838;
$text-color-2:                  #3077C6;
$text-color-3:                  #BFBFBF;
$container-max-width:           1264px;